
.spinner.loading {
    text-align: center;
    width:100% !important;
    margin-bottom:320px;
  }
  
  .loading-text {
    width: 90px;
    position: absolute;
    top: calc(50% - 15px);
    left: calc(50% - 45px);
    text-align: center;
  }
  
  .spinner.loading:before {
    content: "";
    height: 120px;
    width: 120px;
    margin: -15px auto auto -15px;
    position: absolute;
    top: calc(50% - 45px);
    left: calc(50% - 45px);
    border-width: 5px;
    border-style: solid;
    border-color: #000 #ccc #ccc;
    border-radius: 100%;
    animation: rotation .7s infinite linear;
  }


  .login-spinner.login-loading {
    text-align: center;
    width:100% !important;
    margin-bottom:100px;
  }
  
  .login-loading-text {
    font-size:12px;
    position: absolute;
    top: calc(68% - 21px);
    left: calc(53% - 34px);
    text-align: center;
  }
  
  .login-spinner.login-loading:before {
    content: "";
    height: 75px;
    width: 75px;
    margin: 0px auto auto 0px;
    position: absolute;
    top: calc(50% - 21px);
    left: calc(50% - 34px);
    border-width: 5px;
    border-style: solid;
    border-color: #000 #ccc #ccc;
    border-radius: 100%;
    animation: rotation .7s infinite linear;
  }
  
  @keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }